@tailwind base;
@tailwind components;
@tailwind utilities;


/* Registering Font */
@font-face {
    font-family: 'Nexa Extra Light';
    src: url('./assets/fonts/Nexa-ExtraLight.ttf');
}
@font-face {
    font-family: 'Nexa Heavy';
    src: url('./assets/fonts/Nexa-Heavy.ttf');
}

@font-face {
    font-family: 'AeonikTRIAL Bold';
    src: url('./assets/fonts/AeonikTRIAL-Bold.otf');
}

@font-face {
    font-family: 'AeonikTRIAL Regular';
    src: url('./assets/fonts/AeonikTRIAL-Regular.otf');
}