@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nexa Extra Light';
    src: url('./assets/fonts/Nexa-ExtraLight.ttf');
}
@font-face {
    font-family: 'Nexa Heavy';
    src: url('./assets/fonts/Nexa-Heavy.ttf');
}